@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* Bouton */
.btn {
    cursor: pointer;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #fff;
    color: #000;
    background-color: #fff;
    transition: 0.3s;
    text-align: center;
    font-weight: 600;
}

.btn:hover{
    color: #fff;
    background-color: #00ddff;
}


/* Header */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(92, 220, 255, 0.56);
    padding: 20px;
    box-shadow: 0 3px 20px ;
    box-shadow: rgba(0, 0, 0, 0.3);
    z-index: 999;
    position: sticky;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar li{
    padding: 0 20px;
    font-size: 16px;
    transition: 0.3s;
}

#navbar li:hover{
    transform: scale(1.2);
}

#navbar li a {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 600;
}

#header img{
    width: 100px;
    border-radius: 50px;
    
}

#header .acceuil {
    font-size: 20px;
}


/* first-page */

#acceuil{
    background-image: url(img/bg-header.jpg);
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 80px;
}


#acceuil h4{
    padding-bottom: 20px;
    font-size: 20px;
}

#acceuil h2 {
    font-size: 30px;
    padding-bottom: 20px;
}

#acceuil h1 {
    color: #00ddff;
    font-size: 40px;
}

#acceuil p {
    padding-top: 10px;
    color: #00ddff;
    padding-bottom: 20px;
}

#acceuil button{
    margin-top: 20px;
    font-size: 15px;
}