@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.section1{
    padding: 40px 80px;
}

/* Bouton */
.btn {
    cursor: pointer;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #fff;
    color: #000;
    background-color: #fff;
    transition: 0.3s;
    text-align: center;
    font-weight: 600;
}

.btn:hover{
    color: #fff;
    background-color: #00ddff;
}


/* Header */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(92, 220, 255, 0.56);
    padding: 20px;
    box-shadow: 0 3px 20px ;
    box-shadow: rgba(0, 0, 0, 0.3);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar li{
    padding: 0 20px;
    font-size: 16px;
    transition: 0.3s;
}

#navbar li:hover{
    transform: scale(1.2);
}

#navbar li a {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 600;
}

#header img{
    width: 100px;
    border-radius: 50px;
    
}

#header .acceuil {
    font-size: 20px;
}


/* first-page */

#acceuil{
    background-image: url(img/bg-header.jpg);
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 80px;
}


#acceuil h4{
    padding-bottom: 20px;
    font-size: 20px;
}

#acceuil h2 {
    font-size: 30px;
    padding-bottom: 20px;
}

#acceuil h1 {
    color: #00ddff;
    font-size: 40px;
}

#acceuil p {
    padding-top: 10px;
    color: #00ddff;
    padding-bottom: 20px;
}

#acceuil button{
    margin-top: 20px;
    font-size: 15px;
}

/* Options */

#option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#option .opt-box{
    text-align: center;
    padding: 25px 15px;
    border: 1px solid #00ddff;
    margin: 15px 0;
    border-radius: 4px;
    width: 180px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
}

#option .opt-box:hover {
    transform: scale(1.2);
}

#option .opt-box img{
    width: 100%;
    margin-bottom: 20px;
}


#option .opt-box h6 {
    font-size: 13px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;;
    background-color: #fddde4;
    display: inline-block;
    padding: 6px 8px 6px 8px;
}

#option .opt-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

#option .opt-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

#option .opt-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

#option .opt-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

#option .opt-box:nth-child(6) h6 {
    background-color: #fff2e5;
}
